.navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandLogo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.logoText {
  margin-left: 0.7rem;
}
